<ion-view title="Digito - Autenticação" id="page4">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/xxMPPo6GRFq4BkF1Zo2x_brazil-652855_640.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="digitoAutenticaO-form1" class="list">
      <ion-list id="digitoAutenticaO-list2">
        <label class="item item-input" id="digitoAutenticaO-input1">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="digitoAutenticaO-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="menu.salaI()" id="digitoAutenticaO-button3" class="button button-stable button-block">Log in</a>
    </form>
  </ion-content>
</ion-view>